<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#d9d9d9">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&amp;subset=cyrillic" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
        <link href='css/main.css' rel='stylesheet' type='text/css'>        
    </head>
    <body>
        {% block header %}
        {% endblock %}
        <section>
            {% block content %}
            {% endblock %}
        </section>
        {% include 'footer.twig' %}
    </body>
    {% block scripts %}
    {% endblock %}
</html>
